<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--sidebarFragment 선언-->
    <nav th:fragment="sidebarFragment" class="sb-sidenav accordion sb-sidenav-white" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading mt-3"></div>
                <!-- 현재페이지 일때 배경추가 -->
                <!-- 입금이체 링크 -->
                <div th:if="${#httpServletRequest.getRequestURI() == '/account'}" style="background-color: #292B57;">
	                <a class="nav-link text-dark fw-bold" href="/account">
	                    <div class="sb-nav-link-icon"><i class="fas fa-columns" style="color: #FF8E1C;"></i></div>
	                   	<span class="text-warnin-emphasis" style="color: #FF8E1C;">계좌조회</span>
	                </a>
                </div>
                <div th:if="${#httpServletRequest.getRequestURI() != '/account'}">
	                <a class="nav-link text-dark fw-bold" href="/account">
	                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
	                   	<span>계좌조회</span>
	                </a>
                </div>
                
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                            Authentication
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="login.html">Login</a>
                                <a class="nav-link" href="register.html">Register</a>
                                <a class="nav-link" href="password.html">Forgot Password</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                            Error
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="401.html">401 Page</a>
                                <a class="nav-link" href="404.html">404 Page</a>
                                <a class="nav-link" href="500.html">500 Page</a>
                            </nav>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </nav>
</html>