<!--
 * @author 박지영
 * @date 2023. 8. 31.
 * @description INDEX 페이지
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, width=device-width, target-densitydpi=medium-dpi"/>
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="format-detection" content="telephone=no" />
<title>OPENBAKING</title>
<script type="text/javascript">
window.onload = function(){
	location.replace("/login");
};
</script>
</head>
<body>

</body>
</html>